@import 'site.styl'

.recuperar
.nueva
    position relative
    display: flex;
    justify-content: center;
    align-items: center;
    height 100vh
    &-contenido
        text-align: center
        max-width: 530px
        margin: 0 auto
        padding: 0 25px
        .logo
            padding-bottom: 110px
            img
                max-width 130px
        p
            padding: 15px 0 35px 0
        &-correo
        &-form
            text-align: left
            max-width: 350px
            margin: 0 auto

.recuperar
    &-contenido
        max-width: 630px
form
    position relative !important
@media screen and (max-width 630px)
    .recuperar
    .nueva
        &-contenido
            h1
                font-size: 18px !important
