
@import 'site.styl';

.aviso
	padding: 140px 0 100px 0
	min-height: 100vh
	&-contenido
		display: flex
		justify-content: space-between
		&-menu
			position relative
			.opciones
				position absolute
				top: 80px
				left: 0
				width 315px
				&-opcion
					padding-bottom: 10px
					a
						font-size: 18px
						font-weight: 700
						color #b5b5b5
						letter-spacing: 3px
						cursor pointer
						display: block
						margin 10px 0
						&.selected
							color #000
		&-informacion
			width 100%
			padding-left: 450px
			p
				font-size: 16px
				font-weight: 300
			.preguntas
				display: none
				&.active
					display: block
				&-bloque
					&-titulo
						display: flex
						align-items: center
						justify-content: space-between
						border-bottom: 1px solid #000
						cursor pointer
						h3
							font-weight: 300
							font-size: 14px
							padding:15px 0 10px 25px
							text-transform: uppercase
					&-respuesta
						padding-right: 50px
						display: none
						p
							font-size: 15px
							padding-left: 25px

			.cambios
				display none
				&.active
					display: block
			.privacidad
				display: none
				&.active
					display: block

@media screen and (max-width 1100px)
	.aviso
		&-contenido
			&-informacion
				padding-left: 325px

@media screen and (max-width 850px)
	.aviso
		&-contenido
			flex-wrap: wrap
			&-menu
				.opciones
					flex-wrap: wrap
					top: unset
					left: unset
					position relative
					display: flex
					justify-content: space-between
					width 100%
					&-opcion
						text-align: center
			&-informacion
				padding-left: 0

@media screen and (max-width 550px)
	.aviso
		&-contenido
			&-menu
				.opciones
					&-opcion
						p
							font-size: 13px
							letter-spacing: 1px
			&-informacion
				.preguntas
					&-bloque
						&-respuesta
							padding-right: 0
