@import 'site.styl';


.catalogo
	padding-top: 108px
	&-banner
		display: flex
		align-items: center
		justify-content: center
		.image
			img
				display: block
				width 100%
		.text
			position: absolute
			h1
				color: #FFF;
				text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.50);
				font-family: Lato;
				font-size: 5vw
				font-style: normal;
				font-weight: 300;
				line-height: normal;
				text-transform: uppercase;
	&-top
		display flex
		align-items: center
		flex-wrap: wrap-reverse
		padding 60px 0
		position relative
		&-33
			width 33.33%
			h1
				text-align: center
			.filtro
				display flex
				align-items: center
				max-width: max-content
				cursor pointer
				p
					margin: 0
					padding-right: 10px
					font-weight: 400
					text-transform: uppercase
.paginacion
	margin-bottom 20px
	&.is-top
		margin-bottom 20px
		width 100%
	.text-muted
		display: none
	ul
		text-align right
		margin 0
		color black
		overflow hidden
	li
		text-align center
		list-style none
		display inline-block
		position relative
		width 36px
		height 36px
		text-align center
		margin-left 5px
		&.active
			padding 5px 0
			.page-link
				background: #000
				color #fff
		&.disabled
			display none
		.page-link
			background: #ecececff
			color #000
			padding 5px 0
			display block
			border-radius: 5px
			cursor pointer
.filtro-float
	position fixed
	width 100%
	left 0
	top: -100%
	background: white
	padding: 40px 0
	z-index 1
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
	transition: all 0.5s ease
	&.active
		top 110px
	&-titulo
		display flex
		align-items: center
		padding-bottom: 25px
		p
			margin: 0
			padding-right: 10px
			font-weight: 400
			text-transform: uppercase
	&-contenido
		display flex
		align-items: flex-start
		width 100%
		max-width 50%
		margin-right: auto
		&-opciones
			width 150px
			.opcion
				padding: 8px 0
				p
					font-weight: 300
					margin 0
					&.selected
						font-weight: 700
		&-resultado
			padding-top: 10px
			width calc(100% - 150px)
			min-width: 250px
			&-item
				.inputs
					display flex
					align-items: center
					justify-content: space-between
					flex-wrap: wrap
					.col-33
						width 33.33%
						display flex
						align-items: center
						margin-bottom: 10px
					.input
						position relative
					label
						font-size: 13px;
						font-weight: 300;
						padding-left: 10px
						display: flex
					input
						position: absolute
						opacity 0
					.check
						width: 15px
						height: 15px
						display: block
						border: 0.5px solid #00000085;
						margin-right: 5px
					input:checked ~ label .check
						background: #000

	&-aplicar
		display flex
		align-items: center
		padding-top: 20px
		button
			font-size: 14px;
			font-weight: 300;
			text-transform: uppercase
			color white
			width: 117px;
			height: 30px;
			background: black
			border none
			border-radius: 30px
		p
			padding-left: 20px

@media screen and (max-width: 700px)
	.catalogo
		&-top
			&-33
				width: 100%
@media screen and (max-width: 500px)
	.filtro-float
		&-contenido
			max-width: 100%
			flex-wrap: wrap
			&-opciones
				width: 100%
				display: flex
				.opcion
					margin-right: 10px
			&-resultado
				width: 100%




