@import 'site.styl'

.formError
	position: absolute;
	top: 300px;
	left: 50%!important;
	display: block;
	cursor: pointer;
	text-align: left;

.top-bar
	background black
	padding 30px 0
	.img
		text-align: center
		img
			width 100%
			max-width: 180px
			margin 0 auto
			filter: invert(1);
.layout
	max-width: 1600px
.group-inputs
	h3
		color: black;

		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		text-transform: uppercase;
.inputs
	display: flex
	.input
		width 50%
		margin-right 20px

	.inputs
		width 50%
		margin-right 20px
		.input:last-child
			margin-right 0
.input
	margin 10px 0
	position: relative
	input
		border none
		border-bottom: 1px solid black
		background: transparent
		padding 10px 5px
		width: 100%
		&:focus-visible
			outline: none
	select
		border none
		border-bottom: 1px solid black
		background: transparent
		padding 9px 5px
		width: 100%
		&:focus-visible
			outline: none
.title-1
	h1
		color: black;

		font-size: 25px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
.Compra
	padding 50px 0
	height: calc(100vh - 100px)
	min-height: 800px
	.layout
		height: 100%
	.menu-oruga
		display: flex
		&-item
			margin 0 10px
			.icon
				margin-left: 10px
			&.active
				a
				span
					font-weight: 700
	&-container
		display: flex
		height: 100%
		.col
			width 50%
			position relative
			padding-right: 10px
			.title-1
				margin-top 80px

		.content
			height: 100%
		.form
			margin-top 50px
		.metodos
			display: flex
			.item
				margin 0 10px
				background: white
				border-radius: 15px
				&.selected
					a
						border: 3px solid #484848
				a
					display block
					border: 1px solid #484848
					padding 25px 10px
					border-radius: 15px
		.subtitulo
			h3
				border-bottom: solid black 1px
				padding-bottom: 5px
		.opcion
			display: block
			padding-right 20px
			font-size 16px
			line-height 49px
			cursor pointer
			&:hover
				.inner
					transform scale(0.5)
					opacity .5
			input
				width 1px
				height 1px
				opacity 1
				&:checked + .outer .inner
					transform scale(1)
					opacity 1
				&:checked + .outer
					border 3px solid black
				&:focus + .outer .inner
					transform scale(1)
					opacity 1
					background-color black
			.outer
				width 26px
				height 26px
				display block
				float left
				margin 10px 9px 10px 10px
				border 3px solid black
				border-radius 50%
				background-color #fff
			.inner
				transition all 0.25s ease-in-out
				width 16px
				height 16px
				transform scale(0)
				display block
				margin 2px
				border-radius 50%
				background-color black
				opacity 0
		.buttons-bot
			display: flex
			align-items: center
			margin-top 100px
			width: 100%
			&-item
				width 50%
				.btn-return
					color: text

					font-size: 14px;
					font-weight: 400;
				.btn-sig
					display: block
					text-align: center
					padding 12px 10px
					border-radius: 13px;
					border none
					width 100%
					background: black
					box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
					color: #FFF;

					font-size: 20px;
					font-weight: 500;
					text-transform: uppercase;
		.resume
			border-radius: 28px;
			background: black
			padding 20px 70px 50px
			max-width: 600px
			margin 0 auto
			height: 100%
			display: flex
			flex-direction: column
			.cantidad-titulo
				text-align: center
				color white
				font-size: 23px
				padding: 10px 0
				margin: 0
				span
					padding-right: 10px
			h3
				color: white;

				font-size: 18px;
				font-weight: 400;
				text-transform: uppercase;
				padding 18px 0
				margin 0
			.productos
				height: calc(100% - 220px)
				h3
					text-align: center
					border-bottom: 1px solid text
				&-list
					height: calc(100% - 60px)
					max-height: 400px
					overflow-y: auto
					padding-right: 10px
					&-item
						display: flex
						flex-wrap: wrap
						justify-content: space-between
						align-items: center
						margin-bottom: 20px
						padding 10px 0
						p
							color: white;

							font-size: 14px;
							font-weight: 400;
							text-transform: uppercase;
							margin 10px 0
						.img
							width: 20%
							min-width: 80px
							img
								width 100%
								max-width: 100px
								display: block
						.info
							width calc(80% - 10px)
							display: flex
							justify-content: space-between
							padding-left: 20px
							.precio
								margin-left: 5px
								.tacha
									text-decoration: line-through;
			.codigo
				margin 20px 0
				&-input
					position relative
					button
						position: absolute
						right 0
						top 0
						border-radius: 7px;
						background: white;
						border none
						height: 100%
						color black

						font-size: 14px;
						font-weight: 500;
						text-transform: uppercase;
						padding 2px 30px
					p
					input
						background: transparent
						padding 10px 120px 10px 10px
						border-radius: 7px
						width: 100%
						font-size: 14px
					input
						border 1px solid white
						color white
			.suma
				.campo
					display: flex
					justify-content: space-between
					padding 2px 0
					p
						margin 0
						color: white;
						font-size: 14px;
						font-weight: 400;
					&.total
						margin-top 10px
						padding 10px 0
						border-top 1px solid text
						p
							font-size: 15px
							strong
								font-size: 20px
@media screen and (max-width: 1190px)
	.Compra
		&-container
			.resume
				padding 20px 40px 50px
				.productos
					&-list
						&-item
							justify-content: center
							.info
								width 100%
@media screen and (max-width: 980px)
	.Compra
		height unset
		&-container
			flex-wrap: wrap-reverse
			.col
				width 100%
				margin 50px 0 0
				.title-1
					margin 0
@media screen and (max-width: 500px)
	.Compra
		.menu-oruga
			&-item
				margin 0 5px
				a
				span
					font-size: 12px
				.icon
					margin-left 5px
@media screen and (max-width: 400px)
	.Compra
		.menu-oruga
			&-item
				a
				span
					font-size: 10px
		&-container
			.resume
				padding 20px 20px 50px
