@import 'site.styl';
#mySpriteSpin
	cursor: grab
.detalle
	padding 150px 20px 30px
	&-contenido
		display flex
		align-items: flex-start
		.product-detail
			border-bottom 1px solid cafe
			padding-bottom 50px
			&-container
				display: flex
				align-items: flex-start
			&-images
				display: flex
				width 60%
				position relative
				align-items: flex-start
				&-thumbs
					width: 20%
					&-item
						margin 0 0 15px
						img
							width: 100%
							max-width: 150px
					.slick
						&-list
							height: unset !important
				&-focus
					padding 0 10px 0 15px
					width: 80%
					position sticky
					top 120px
					img
						max-height: 500px;
						margin: 0 auto;
						max-width: 100%
					.slick
						&-track
							display: flex
							align-items: center
		&-imagenes
			width 60%
			display flex
			align-items: center
			justify-content:space-between
			flex-wrap: wrap
			min-width: max-content
			&-imagen
				width calc(50% - 8px)
				margin-bottom: 16px
				img
					width 100%
					display block
				&.w-100
					width: 100%
			.detalle-360
				display: flex
				justify-content: center
				align-items: center
				.icon
					font-size: 25px
					margin 5px 10px
					cursor pointer
			.btn-pausa
				.btn-scnd
					max-width: max-content
					margin: 20px auto
					display: block
					padding: 5px 40px
					&.play
						display: none
				span
					display: flex
					align-items: center
				svg
					margin-right: 10px

		&-info
			width 40%
			position relative
			padding-left: 40px
			.sticky
				max-width: 500px
				margin: 0 auto
				padding 50px 20px 0
				position: sticky
				top 100px
			.titulo
				padding-bottom: 8px
				h1
					font-size: 40px
				p
					font-size: 25px
				h1,p
					margin: 0
			.etiqueta
				color: white;
				font-size: 12px;
				font-weight: 300;
				padding: 5px 10px
				background: black
				display flex
				align-items: center
				justify-content: center
				max-width: max-content
				svg
					margin-right: 5px
			.seccion
				padding: 18px 0 10px 0
				h2
					font-size: 16px;
					font-weight: 600;
					margin: 0
					padding-bottom: 8px
				.d-flex
					display flex
					align-items: center
					justify-content: space-between
					flex-wrap: wrap
				.left
					justify-content: left
			.colores
				padding-right: 50px
				&-contenido
					max-width: 350px
					.color-item
						width calc(20% - 10px)
						margin: 0 10px 8px 0
						position relative
						background: #fff
						padding: 5px 0
						&:hover
							label
								img
									border-bottom: 2px solid black
						input
							position: absolute
							opacity: 0
						label
							display: block
							cursor pointer
							img
								width 100%
								display: block
								border-bottom 2px solid transparent
						input:checked ~ label img
							border-bottom: 2px solid black
			.meses
				display: flex
				align-items: center
				padding 20px 0
				svg
					margin-right: 10px
				span
					max-width: 145px
					color: #000;
					font-family: Lato;
					font-size: 15px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
			.talla
				&-contenido
					justify-content: flex-start !important
					.recuadros-item
						margin: 0 20px 8px 0
						position relative
						&:hover
							input:not(:disabled) ~ label
								background: black
								color white
						input
							position: absolute
							opacity: 0
						label
							background: transparent
							border 1px solid rgba(0, 0, 0, 0.579)
							font-size: 13px;
							font-weight: 300;
							width: 80px;
							height: 33px;
							display flex
							align-items: center
							justify-content: center
							cursor pointer
						input:checked ~ label
							background: #000
							color white
						input:disabled ~ label
							background: beige
							color black
			.boton
				padding-right: 0px
				button
					color white
					font-size: 14px;
					font-weight: 300;
					text-transform: uppercase;
					background: black
					border none
					height: 30px;
					width 100%
					border-radius: 30px
			.guia
				padding 15px 0
				p
					font-size: 13px
					font-weight: 300
			.metacampo
			.descripcion
				h3
					font-size: 13px;
					font-weight: 300;
				p
					color: #000;
					font-family: Lato;
					font-size: 15px;
					font-style: normal;
					font-weight: 300;
					line-height: normal;
			.metacampo
				display: flex;
				align-items: baseline;
				h3
					color: #000;
					font-family: Lato;
					font-size: 15px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					margin 5px 0
				p
					padding-left: 5px;
					color: #000;
					font-family: Lato;
					font-size: 15px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
					margin 5px 0
			.detalles
				.line
					height: 2px
					background: #000
	&-relacionados
		padding-bottom: 20px
		padding-top: 100px
		.linea
			height: 2px
			background: #2d2d2d
		.titulo
			text-align: center
			padding: 20px 0 30px 0
		&-contenido
			.slick
				&-arrow
					&:before
						font-family: vk_lifestyle
						color #000
				&-next
					right: 0
				&-prev
					left 0
@media screen and (max-width: 950px)
	.detalle
		&-contenido
			flex-wrap: wrap
			&-info
			&-imagenes
				width 100%
			.product-detail
				&-container
					flex-wrap: wrap
					justify-content: center
				&-images
					flex-wrap: wrap-reverse
					width 100%
					&-thumbs
						display: flex
						justify-content: center
						width: 100%
						padding 20px 0
						&-item
							margin 0 5px
					&-focus
						padding 0 5px
						width 100%
						position: unset
@media screen and (max-width 880px)
	.detalle
		&-contenido
			&-info
				max-width 100%
				padding 0
				.sticky
					position: unset
			.titulo
				h1
					font-size: 30px
				p
					font-size: 20px
			&-imagenes
				max-width: 500px
				margin: 0 auto
@media screen and (max-width 1400px)
	#mySpriteSpin
		width: 600px !important
		min-width: 600px
		height: 600px !important
@media screen and (max-width 1120px)
	#mySpriteSpin
		width: 500px !important
		min-width: 500px
		height: 500px !important
@media screen and (max-width 1100px)
	#mySpriteSpin
		width: 400px !important
		min-width: 400px
		height: 400px !important
@media screen and (max-width 580px)
	.detalle-contenido-imagenes
		position relative
		.detalle-360
			.icon
				margin 5px 5px
				position: absolute
				bottom 35px
				&-anterior
					left 0
				&-siguiente
					right 0

	#mySpriteSpin
		width: 330px !important
		min-width: 330px
		height: 330px !important

@media screen and (max-width: 680px)
	.detalle
		&-contenido
			.product-detail
				&-images
					width 100%
