@import 'site.styl'
.bar-contacto
.footer
	display: none

.header
	top 0
	left 0
	right 0
	z-index 2
	background: white
	position: fixed
	transition: all .4s ease
	box-shadow: 0px 1px 5px 0px #3f3f3f91
.Gracias
	padding-bottom: 30px
	.layout
		max-width: 1500px
	&-banner
		position relative
		width 100%
		margin-top: 109px
		min-height: 210px
		background: black
		display: flex
		justify-content: center
		align-items: center
		h1
			max-width: 300px
			margin 0
			padding 0 20px
			color: white
			font-size: 30px;
			font-weight: 900;
			text-transform: uppercase;
			text-align: center
	&-orden
		padding 50px 0
		h2
			color: black;
			text-align: center;

			font-size: 24px;
			font-weight: 300;
			text-transform: uppercase;
		p
			color: #000;
			text-align: center;

			font-size: 14px;
			font-weight: 300;
			margin 35px 0
			strong
				color black
				font-weight: 700
	&-resumen
		display flex
		justify-content: space-between
		.suma
			border-radius: 20px;
			background: black;
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
			padding 50px
			width 100%
			max-width: 400px
			h3
				color: white;

				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-transform: uppercase;
				text-align: center
				margin-top 0
			&-content
				border-top 1px solid white
				border-bottom 1px solid white
				padding 20px 0
			.campo
				display: flex
				justify-content: space-between
				padding 2px 0
				color white
				p
					margin 0
					font-size: 14px;
					font-weight: 400;
				&.total
					margin-top 10px
					padding 10px 0
					p
						font-size: 15px
						strong
							font-size: 20px
		.carusel
			width: 60%
			padding 0 10px
			margin-right: 30px
			.slick
				&-arrow
					&:before
						color black
						font-family: vk_lifestyle
				&-next
					right 0
				&-prev
					left 0
			&-item
				margin 0 20px
				.img
					background: white
					border-radius: 20px 20px 0 0
					border: 1px solid #D0D0D0;
					overflow: hidden
					padding 20px 0
					img
						display: block
						margin 0 auto
						max-height: 160px
				.txt
					background: black
					color white
					padding 20px 20px 30px
					border-radius: 0 0 20px 20px
					p
						color: #FFF;
						font-size: 14px;
						text-transform: uppercase;
						margin-top 0
					.campo
						display: flex
						justify-content: space-between
						span
							font-size: 14px;
						.price
							font-weight: 700
						.tacha
							text-decoration: line-through;

@media screen and (max-width: 950px)
	.Gracias
		&-resumen
			flex-wrap: wrap
			justify-content: center
			.suma
				margin 50px 0
			.carusel
				width 100%
				padding 0 20px
				margin 0
