@import 'site.styl';
.header
	background: transparent
	box-shadow: none
	&-container
		background: linear-gradient(180deg, rgba(0,0,0,0.6909138655462185) 0%, rgba(0,0,0,0) 100%);
		img
			filter invert(1)
		ul
			li
				a, span, .icon
					color white
.home
	background: #F4F4F0
	&-banner
		&-item
			img
				width: 100%
				display: block
		.slick
			&-dots
				bottom 15px
				li
					button:before
						color #fff
						opacity .5
						font-size: 11px
			&-next
				right 5px
			&-prev
				left: 5px
			&-next
			&-prev
				width: unset
				height: unset
			&-arrow
				&:before
					color #fff
					font-size: 30px
					font-family: vk_lifestyle
	&-nuevo
		padding: 80px 0px 60px
		&-titulo
			text-align: center
			h2
				margin 0
				padding-bottom: 8px
		&-contenido
			padding: 35px 0 0 0
			.slick-arrow
				&:before
					color #000
					font-family: vk_lifestyle
	&-imagenes
		display: flex
		align-items: center
		&-item
			width 100%
			height 100vh
			min-height: 800px
			display flex
			align-items: center
			justify-content: center
			position relative
			&:hover
				img
					filter brightness(0.5)
		&-imagen
			height: 100%
			width 100%
			img
				display: block
				width: 100%
				height: 100%
				object-fit: cover
				filter brightness(1)
				transition: filter 0.3s

		&-texto
			color white
			text-align: center
			position absolute
			.boton
				padding 0
			button
				margin 0 auto
				padding 8px 50px
				max-width: max-content
			h2
				color: #FFF;
				text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
				font-family: Lato;
				font-size: 50px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-transform: uppercase;
				margin 10px 0
			p
				margin: 0
				padding: 6px 0 18px
	&-destacados
		display: flex
		align-items: center
		padding 120px 30px
		&-slick
			width 70%
			.slick-arrow
				&:before
					color #000
					font-family: vk_lifestyle
		&-destacado
			width 30%
			display: flex
			align-items: center
			justify-content: center
			&-text
				text-align: center
				h2
					margin 0
					padding-bottom: 12px
	&-envio
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		display flex
		align-items: center
		justify-content: center
		padding: 100px 0
		&-contenido
			text-align: center
			p
				color white
				padding-top: 30px
				margin: 0
	&-sandalias
		padding 90px 0 100px 0
		&-titulo
			text-align: center
			padding: 10px 0 50px 0
			h2
				margin: 0
				padding 10px 0
		&-contenido
			display flex
			align-items: flex-start
			justify-content: space-between
			align-items: stretch
			&-50
				width calc(50% - 0px)
				img
					width 100%
					display block
				&.imagen
					width: calc(50% - 30px)
					margin 0 15px
				.producto-destacado
					img
						height: calc(100% - 124px)
						object-fit: cover
			.productos
				height: 100%
				align-content: space-between
				&-item
					margin 0 15px 0px
					width: calc(50% - 30px)
					margin-bottom: 30px
					&-imagen
						padding 50px 0
		.productos-item
			margin 0 15px 60px
	&-beneficios
		background: #000
		padding 100px 0
		&-container
			display: flex
			align-items: flex-start
		&-item
			color: #FFF;
			text-align: center
			width: calc(25% - 20px)
			margin 10px 10px
			.icon
				svg
					width: 40px
			h4
				font-family: Lato;
				font-size: 20px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				text-transform: uppercase;
				margin 5px 0
			p
				text-align: center;
				font-family: Lato;
				font-size: 14px;
				font-style: normal;
				font-weight: 300;
				line-height: normal;
	&-insta
		padding 0px 0 100px
		&-titulo
			text-align: center
		&-blocks
			display: flex
			flex-wrap: wrap
			&-block
				width: calc(25% - 20px)
				margin 10px
				img
					width 100%
					display: block
					object-fit: cover
					height: 438px

@media screen and (max-width 950px)
	.home
		&-sandalias-contenido-50.imagen
			width: calc(50% - 20px)
		&-insta
			&-blocks
				&-block
					img
						height: 300px
@media screen and (max-width 770px)
	.home
		&-destacados
			flex-wrap: wrap-reverse
			padding 60px 30px
			&-destacado
			&-slick
				width 100%
			&-destacado
				padding-bottom: 40px
		&-sandalias
			padding: 40px 0 50px 0
			&-contenido
				flex-wrap: wrap
				&-50
					width 100%
					.productos
						justify-content: space-between
						&-item
							margin 0 0 30px 0
						.col-2
							width calc(50% - 10px) !important
						.col-4
							width calc(50% - 10px) !important
				.imagen
					width: 100%;
					padding-bottom: 40px;
			.productos-item
				width calc(50% - 10px)
				margin 0 0 60px

@media screen and (max-width 680px)
	.home
		&-imagenes
			flex-wrap: wrap
			&-item
				height unset
				min-height: unset
		&-beneficios
			&-container
				flex-wrap: wrap
			&-item
				width: calc(50% - 20px)
		&-insta
			&-blocks
				&-block
					width: calc(50% - 20px)
@media screen and (max-width 480px)
	.home
		&-beneficios
			&-container
				flex-wrap: wrap
			&-item
				width: calc(100% - 20px)
		&-insta
			&-blocks
				&-block
					img
						height: 230px
