@font-face {
  font-family: 'vk_lifestyle';
  src:  url('../../public/iconos/vk_lifestyle.eot?ut4f54');
  src:  url('../../public/iconos/vk_lifestyle.eot?ut4f54#iefix') format('embedded-opentype'),
    url('../../public/iconos/vk_lifestyle.ttf?ut4f54') format('truetype'),
    url('../../public/iconos/vk_lifestyle.woff?ut4f54') format('woff'),
    url('../../public/iconos/vk_lifestyle.svg?ut4f54#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'vk_lifestyle' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anterior:before {
  content: "\e900" !important;
}
.icon-bag:before {
  content: "\e901";
}
.icon-cerrar:before {
  content: "\e902";
}
.icon-desglozar:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-flechita:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-mas:before {
  content: "\e908";
}
.icon-menos:before {
  content: "\e909";
}
.icon-siguiente:before {
  content: "\e90a" !important;
}
.icon-subir:before {
  content: "\e90b";
}
.icon-tiktok:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90d";
}
.icon-whatsapp:before {
  content: "\e90e";
}
