@import 'site.styl'
.Login
	padding 200px 20px 30px
	height: 80vh
	h1
		text-align: center
	form
		max-width: 500px
		margin: 0 auto
		a
			display: block
			max-width: max-content
			margin 20px auto
			font-size: 14px
			&:hover
				text-decoration: underline
