.boton
	padding-right: 20px
	button
		color beige
		font-size: 14px;
		font-weight: 300;
		text-transform: uppercase;
		background: black
		border none
		height: 30px;
		width 100%
		border-radius: 30px

.btn-scnd
	color #000
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	background: transparent
	border 1px solid #000
	width 100%
	border-radius: 30px

.input
	position: relative
	&.text
		margin-bottom: 20px
		label
			display: block
			font-size: 14px
			font-weight: 300
		input
			background: none
			border none
			border-bottom 1px solid #000
			width: 100%
			padding 5px 10px
			&:focus-visible
				outline none
				border-bottom: 2px solid #000
.spritespin-slider {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 5px;
	background-color: beige;
	// background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.spritespin-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #000;
	// background-image: linear-gradient(160deg, #4900f5 0%, #80D0C7 100%);
	cursor: pointer;
}

.spritespin-slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #0093E9;
	// background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
	cursor: pointer;
}
#popAlert
	a
		&:focus
			outline none
	img
		display: block
.fancybox
	&-content
		max-width: 800px !important
		height auto
		background white
		padding 0 !important
		overflow unset !important
		img
			width 100%
			display block
		&:focus-visible
			outline none
		a
			outline: none
			display block !important
	&-close
		&-small
			right: -18px !important
			top: -18px !important
			background: white !important
			border-radius: 50% !important
