@import 'site.styl';
.cuenta
	padding: 200px 20px 150px 20px
	position relative
	max-width: 1600px
	margin: 0 auto
	&-contenido
		position relative
		.cerrar-sesion
			position absolute
			right 0
			display: flex
			align-items: center
			p
				font-size: 14px;
				font-weight: 300;
				padding-right: 15px
				margin 0
			span
				font-size: 25px
		&-titulo
			max-width: 800px
			margin: 0 auto
			padding: 0 20px
			display: flex
			justify-content: space-between
			position relative
			a
				font-size: 25px
				font-weight: 300
				letter-spacing: 12px
				color rgb(134, 134, 134)
				&.selected
					color #000
					font-weight: 400

		.perfil
			padding-top 100px
			&-datos
				max-width 300px
				margin: 0 auto
				.input
					position relative
					&.check
						display flex
						align-items: center
						input
							width unset
						label
							padding-right: 12px
				.checkbox
					position relative
					margin-right: 10px
					input
						position: absolute
						opacity 0
						cursor: pointer
					.sq
						display: block
						width 15px
						height: 15px
						border 2px solid #000
						background: white
						&.ac
							background: #000
					input[type=checkbox]:checked + .sq
						background: #000

				.actualizar
					display: none
					padding-top: 40px
					&.active
						display: block
				.boton
					padding-top 40px
					padding-right: 0
		.historico
			padding: 85px 0 0 0
			&-contenido
				max-width: 1600px
				margin: 0 auto
				padding: 0 20px 0 100px
		.recuadro
			position fixed
			z-index 1001
			top: 55%;
			left: 50%;
			transform: translate(-50%, -50%);
			display: none
			&.active
				display block
			&-contenido
				background: white
				display: flex
				&-articulos
					width 65%
					position relative
					height 560px
					.cerrar
						position absolute
						left: 25px
						top: 25px
						.icon-cerrar
							cursor pointer
					h2
						font-size: 20px
						letter-spacing: 8px
						font-weight: 300
						text-align: center
						padding: 45px 0 40px 0
					.compras
						padding:0 20px 0 70px !important
						overflow: auto
						height: calc(100% - 140px)
				&-folio
					width 35%
					background: beige
					position relative
					height 560px
					.folio-contenido
						padding: 45px 52px 0
						overflow: auto
						height: 100%
						h3
							font-size: 20px
							font-weight: 700
							text-align: center
						.folio-fecha
							padding: 60px 0 20px 0
						.folio-personal
							padding-bottom: 20px
						.folio-fecha
						.folio-personal
						.folio-ubicacion
							p
								font-size: 13px
								font-weight: 400
								margin: 0
								padding-right: 5px
							span
								font-size: 14px
								font-weight: 400
							&-opcion
								display: flex
								align-items: baseline
						.total
							padding: 80px 0 55px 0
							&-item
								display: flex
								align-items: center
								justify-content: space-between
								p
									text-align: left
									margin: 0
									&:last-child
										text-align: right
					.final
						background: #000
						position absolute
						width 100%
						bottom 0
						&-contenido
							padding:0 52px
							display: flex
							align-items: center
							justify-content: space-between
							p
								color white
								font-weight: 500
								&:last-child
									text-align: right
							span
								color white

.compras
	display: flex
	align-items: center
	flex-wrap: wrap
	&-item
	&-historico
		width calc(25% - 10px)
		display flex
		align-items: center
		padding-bottom: 55px
		&-datos
			padding-left: 20px
			.dato-historico
				padding-bottom: 5px
				p
					font-size: 9px
			.dato-item
			.dato-historico
				display flex
				align-items: center
				flex-wrap: wrap
				&-item
					width 100%
					display: flex
					align-items: center
				.negritas
					font-weight: 700
				p
					margin: 1px 0
					padding-right: 5px
				.titulo
					font-size: 11px
					text-transform: lowercase
				.precio
					font-size: 14px
			.dato-folio
				padding-bottom: 15px
	&-historico
		width calc(50% - 10px)
	&-item
		cursor pointer
		&-img
			img
				width 100%
				max-width: 122px
@media screen and (max-width 1730px)
	.recuadro
		width 1200px

@media screen and (max-width 1200px)
	.recuadro
		width 100%
		padding: 0 50px

@media screen and (max-width 1150px)
	.historico
		&-contenido
			padding: 0 20px 0 20px !important
			.compras
				&-item
					width calc(50% - 10px)
@media screen and (max-width 1050px)
	.cuenta
		&-contenido
			.cerrar-sesion
				top -60px
@media screen and (max-width 930px)
	.cuenta
		&-contenido
			.recuadro
				padding: 20px 20px 0
				height 100%
				&-contenido
					height calc(100% - 55px)
					&-folio
					&-articulos
						width 50%
						height 100%
					&-articulos
						h2
							padding: 40px 0 0 0
						.compras
							padding: 0 20px !important
	.compras
		&-historico
			width 50%;
			padding-bottom: 13px

@media screen and (max-width 750px)
	.compras
		&-historico
			width 100%
			justify-content: center
	.cuenta
		&-contenido
			.recuadro
				&-contenido
					&-articulos
						width 45%
						h2
							font-size: 16px
							letter-spacing: 3px
					&-folio
						width 55%
						.folio
							&-contenido
								padding: 30px 15px 0
								.folio
									&-personal
									&-fecha
									&-ubicacion
										span
											font-size: 12px
										p
											font-size: 12px
						.final
							&-contenido
								padding: 0 20px


@media screen and (max-width 630px)
	.compras
		&-historico
			width 100%
			max-width: 250px
			margin: 0 auto
	// .cuenta
	// 	&-contenido
	// 		.recuadro
	// 			height 900px
	// 			overflow-y: auto
	// 			&-contenido
	// 				&-folio
	// 					.folio-contenido
	// 						padding: 10px 25px 0
	// 					.folio-fecha
	// 						padding: 20px 0 10px 0 !important
	// 					.total
	// 						padding: 30px 0 70px 0 !important
@media screen and (max-width 600px)
	.cuenta
		&-contenido
			.recuadro
				padding: 20px 0 0
			&-titulo
				a
					font-size: 18px
					letter-spacing: 6px
@media screen and (max-width 550px)
// 	.cuenta-contenido
// 		.recuadro
// 			top: 28%
// 			padding: 0 30px
	.historico
		&-contenido
			.compras
				justify-content: center
				&-item
					justify-content: center
					width 100%
