@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import 'normalize.styl';
@import 'iconos.styl'

light = 300
regular =  400
bold = 700
extrabold = 900

beige = #E6E6DF
@import 'material.styl'

body
	font-size: 13px
	font-weight: 400
	margin 0
	font-family: 'Lato', sans-serif;
	background: #F4F4F0
html
	overflow-x: hidden
	&.owH
		overflow-y: hidden
*
	box-sizing border-box
	// &::-webkit-scrollbar
	// 	width: 5px;
	// 	height: 8px
	// &::-webkit-scrollbar-thumb
	// 	background-color: #000;
	// 	border-radius: 6px;
	// &::-webkit-scrollbar-track
	// 	background-color: #fff;
	// 	border-radius: 6px;
	// &::-webkit-scrollbar-corner
	// 	background-color: transparent;
a
	text-decoration: none
	color inherit
button
	cursor pointer
.spinner
	display:none;
	position: fixed;
	width:100%;
	height:100%;
	z-index:10000000000000;
	background: rgba(0, 0, 0, .7);
.icon-cerrar
	cursor pointer
.layout
	width 100%
	max-width: 1520px
	padding: 0 20px
	margin: 0 auto
.titulo
	font-size: 25px;
	font-weight: 300;
	text-transform: uppercase;
.ver-mas
	font-size: 14px;
	font-weight: 400;
	text-decoration-line: underline;
	background: none
	border: none
.txt-black
	font-size: 13px
	font-weight: 600

.productos
	display: flex
	align-items: center
	flex-wrap: wrap
.productos-item
	width calc(33.33% - 30px)
	margin:0 30px 60px 0

.col-2
	width calc(50% - 30px) !important
.col-4
	width calc(25% - 30px)
.mg
	margin: 0 15px
.productos-item
.productos-slider
	position relative
	overflow: hidden
	&:hover
		.scnd
			opacity 1
		.compra-rapida
			transform: translateY(0)
			transition transform 0.5s
			transition-delay: 1s
	&-imagen
		position relative
		padding 30px 0
		background: #fff
		img
			width 100%
			display block
		.scnd
			position: absolute
			display: block
			opacity 0
			top 30px
			left 0
			right 0
			bottom 0
			transition opacity 0.5s
		.etiqueta
			position absolute
			color: white;
			font-size: 12px;
			font-weight: 300;
			top: 20px
			right 10px
			padding: 5px 10px
			background: black
			display flex
			align-items: center
			justify-content: center
			svg
				margin-right: 5px
	&-precio
		padding: 12px 10px 0
		text-align: center
		p
			margin: 0
			padding-top: 5px
	.compra-rapida
		position absolute
		bottom 0%
		left: 0
		width 100%
		background: beige
		transform: translateY(100%)
		transition transform 0.5s
		&.hide
			transform: translateY(100%)
			transition transform 0.2s

		&-contenido
			padding 15px 20px
			.talla
				border-bottom: 1px solid black
				position relative
				padding-bottom: 6px
				.icon-cerrar
					position absolute
					right 0
					top 0
				p
					font-size: 12px;
					font-weight: 400;
					margin: 0
					padding: 2px 0
			.recuadros
				display flex
				align-items: center
				flex-wrap: wrap
				padding: 20px 0 15px 0
				&-item
					margin: 0 12px 8px 0
					position relative
					&:hover
						input:not(:disabled) ~ label
							background: black
							color white
					input
						position: absolute
						opacity: 0
					label
						background: transparent
						border 1px solid rgba(0, 0, 0, 0.579)
						font-size: 13px;
						font-weight: 300;
						width: 33px;
						height: 33px;
						display flex
						align-items: center
						justify-content: center
						cursor pointer
					input:checked ~ label
						background: #000
						color white
					input:disabled ~ label
							background: #BCBCB6
							color black
			.boton
				button
					width 100%
					border none
					background: black
					color beige
					font-size: 14px;
					font-weight: 300;
					text-transform: uppercase;
					border-radius: 30px;
					height 30px


.header
	position fixed
	top 0
	left 0
	right 0
	z-index 2
	background: transparent
	background: white
	box-shadow: 0px 1px 5px 0px #3f3f3f91
	&.fixed
		position: fixed
		transition: all .4s ease
		background: white
		box-shadow: 0px 1px 5px 0px #3f3f3f91
		.header-container
			background: transparent
			img
				filter: invert(0)
			ul
				li
					a, span, .icon
						color #000
	&-leyenda
		&-item
			background: #000
			text-align: center
			p
				font-size: 9px;
				font-weight: 700;
				text-transform: uppercase;
				margin: 0
				padding: 7px 10px 7px 0
				display: inline-block
				color #fff
			img
				display: inline-block !important

	&-container
		display flex
		align-items: center
		width 100%
		padding: 10px 20px
		margin: 0 auto
		.icon-menu
			display none
		img
			filter: invert(0)
			max-width: 180px
			min-width: 150px
			display: block
			width: 100%
		ul
			display: flex
			align-items: center
			list-style none
			justify-content: flex-end
			padding 0
			li
				text-align: center
				padding: 0px 0 0 35px
				&:first-child
					padding: 0
				a, span
					color black
					font-size: 15px;
					font-weight: 300;
					cursor pointer
				span
					font-size: 15px
		.iconos
			padding-left: 50px
			li
				padding-left: 10px
				a, span
					font-weight: 800
					font-size: 17px
			&-bag
				a
					display: flex
				.bag-count
					font-weight: 400
					display: none
			&-user
				a
					font-size: 14px
.menu
	width 100%
	max-width: 618px
	margin-left: auto
.footer
	background: beige
	&-contenido
		max-width: 1700px
		width 100%
		padding: 50px 20px
		margin: 0 auto
		display flex
		align-items: center
		justify-content: space-between
		&-seccion
			width 33.33%
			&-info
				padding: 45px 0 5px 0
			p,a
				margin 0
				display block
				font-size: 12px;
				font-weight: 400;
				padding 6px 0
			.redes
				display flex
				align-items: center
				.icon
					margin-right: 8px
					font-size: 20px
			.redes
			.tarjeta
				padding-top: 20px
			&-icon
				img
					max-width: 70px
					display: block
					margin 0 auto
			.recaptcha
				display: flex
				justify-content: center
		.d-none
			display none
		.center
			text-align: center
			p
				font-size: 14px;
				font-weight: 300;
				text-transform: uppercase
			.input
				margin: 0 auto
				width: 344px;
				position relative
				input
					width 100%
					font-size: 12px;
					font-weight: 400;
					border none
					border-bottom: 1px solid black
					background: transparent
					padding 5px 0
					&:focus
						outline: none
				.icon-flechita
					position absolute
					right 0
					bottom 5px
		.derecha
			text-align: right
			.tarjeta
				display flex
				align-items: center
				justify-content: flex-end
				img
					width 50px
					display block
					margin-left: 12px
	&-corvuz
		width 100%
		text-align: center
		padding-bottom: 40px
		p
			margin: 0
			padding: 8px 0
			font-size: 12px;
			font-weight: 300;
		img
			max-width: 110px

.whatsapp
	position fixed
	z-index 1
	right 10px
	bottom 3%
	border-radius: 30px;
	background: #000;
	width 95px
	height 40px
	display flex
	align-items: center
	justify-content: center
	a
		display flex
		align-items: flex-end
		font-size: 14px;
		font-weight: 300;
		color beige
		span
			padding-right: 8px
			display: block
	span
		font-size: 16px

.carrito
	position fixed
	width 100%
	right -100%
	top 0
	height 100vh
	z-index 3
	transition: all 0.5s ease-out;
	&.selected
		right 0
	&-contenido
		max-width: 390px
		height 100vh
		margin-left: auto
		background: rgba(0, 0, 0, 0.912)
		padding 60px 10px 60px 45px
		position relative
		&-titulo
			position relative
			.titulo
				color white
				margin 0
				span
					padding-left: 3px
					font-size: 14px;
					font-weight: 300;
			.icon
				position absolute
				right 20px
				top: 10px
				color white
		&-tabla
			padding: 30px 22px 0 0
			height calc(100% - 165px)
			overflow-y: auto
			&-item
				display flex
				align-items: flex-end
				justify-content: space-between
				position relative
				margin-bottom: 25px
				.seccion
					position absolute
					right 0
					bottom -14px
					button
						color white
				.seccion1
					display flex
					align-items: flex-start
					position relative
					&-imagen
						width 93px
						height 130px
						img
							width 100%
							height 100%
							object-fit: cover
					&-texto
						padding-left: 20px
						color white
						&-info
							h3
								font-size: 14px;
								font-weight: 700;
								margin 0
								padding 8px 0 6px
							p
								font-size: 13px;
								font-weight: 300;
								margin 0
						&-input
							position absolute
							bottom 0
							.boton
								border 1px solid white
								width 70px
								padding: 4px 10px
								display: flex
								justify-content: space-between
								align-items: center
								input
									width 20px
									font-size: 13px;
									font-weight: 300;
									background: transparent
									border none
									color white
									text-align: center
								span
									font-size: 7px;
									font-weight: 300;
		&-subtotal
			position absolute
			width 100%
			background: black
			color white
			left: 0
			bottom 0
			&-contenido
				display flex
				align-items: center
				justify-content: space-between
				padding 0 35px 0px 45px
				h3
					margin: 0
					font-size: 20px;
					font-weight: 300;
				p
					font-weight:300
			&-boton
				padding 10px 35px 35px 45px
				a
					display: block
					width 100%
					background: white
					font-size: 14px;
					font-weight: 300;
					text-transform: uppercase;
					border-radius: 30px
					height 30px
					border none
					color #000
					text-align: center
					display: flex
					align-items: center
					justify-content: center
.search
	.productos-item
		width: 100%
		margin 0

.tt-dataset-searchList
.search__related
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 4em 0 0 0;
	height: calc(100% - 120px);
	overflow: auto;
.search__suggestion
	margin: 15px 10px;
	width: calc(20% - 20px);
	min-width: 125px;
.tt-menu
	display: block !important
@media screen and (max-width 1110px)
	.footer
		&-contenido
			.center
				.input
					width 100%
	.productos-item
	.productos-slider
		.compra-rapida
			display: none !important
@media screen and (max-width 900px)
	.header
		&-container
			justify-content: space-between
			figure
				margin: 1em 0px
			.icon-menu
				display block
	.menu
		position: fixed
		width 100%
		max-width: 330px
		height: 100%
		right -100%
		top 109px
		background: white
		padding 50px 20px 20px
		transition: right 0.5s
		z-index 30
		overflow-y: auto
		&.active
			right  0
		ul
			flex-direction: column
			justify-content: center
			li
				width 100%
				margin 10px 0
				padding 0
				&.select
					border none
				a
					font-weight: 700
					color #000 !important


@media screen and (max-width 850px)
	.productos
		&-item
			width calc(50% - 30px)
@media screen and (max-width 800px)
	.footer
		&-contenido
			flex-wrap: wrap
			padding 40px 20px 10px
			.center
				margin 30px 0
			&-seccion
				width 100%
				text-align: center !important
				&-info
					padding: 0
				&-input
					max-width: 300px
					margin: 0 auto
				.redes
					justify-content: center
					padding-bottom: 20px
				.visible
					display none
				.tarjeta
					justify-content: center !important
			.d-none
				display block
				padding-bottom: 10px
@media screen and (max-width 500px)
	.productos
		justify-content: space-between
		&-item
			width calc(50% - 20px)
			margin: 0 10px 35px
	.titulo
		font-size: 22px;
	.productos-item
		.compra-rapida-contenido
			padding: 15px 10px
			.recuadros-item
				margin 0 9px 8px 0
			.boton
				button
					font-size: 10px
	.search__suggestion
		width: calc(50% - 20px)
	.search
		padding 40px 20px
