<template>
	<div class="home-insta-blocks" v-if="posts_instagram.length > 0">
		<div v-for="imagen in posts_instagram" :key="imagen.id" class="home-insta-blocks-block">
			<a :href="imagen.permalink" target="_blank">
				<img v-if="imagen.media_type === 'VIDEO'" :src="imagen.thumbnail_url" alt="VK Lifestyle">
				<img v-else :src="imagen.media_url" alt="VK Lifestyle">
			</a>
		</div>
	</div>
	<div v-else>
		<!-- Manejo si no hay datos disponibles -->
		No se encontraron publicaciones de Instagram.
	</div>
</template>


<script>
export default {
	data: function () {
		return {
			posts_instagram: []
        }
    },
	mounted() {
		this.postInstagram();
	},
	methods: {
		async postInstagram(){
			const url = "https://graph.instagram.com/v11.0/7610308842428667/media";
			const accessToken = "IGQWROVVlzeGdyV0YyMGhjXzdhYVVwaUNieDVta0tSTTF1NHdaSl9tNjJ6dlE2ZAG1hUXN4ZAVVGYUFtRTFKVk9VZA2xlV1BkZAENaRG5BUTRnZAHBYcmFIY0pwSjBPMEl3S1RiQmN5d3FRaWczUQZDZD"; // Aquí debes colocar tu access token de Instagram
			const params = {
				access_token: accessToken,
				fields: "media_url,media_type,permalink,thumbnail_url,is_shared_to_feed",
				limit: 8
			};

			try {
				const response = await axios.get(url, { params });
				this.posts_instagram = response.data.data;
			} catch (error) {
				console.error('Error fetching Instagram data:', error);
			}
		},
	}
}
</script>
