@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1us59d');
  src:  url('fonts/icomoon.eot?1us59d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1us59d') format('truetype'),
    url('fonts/icomoon.woff?1us59d') format('woff'),
    url('fonts/icomoon.svg?1us59d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anterior:before {
  content: "\e900";
}
.icon-bag:before {
  content: "\e901";
}
.icon-cerrar:before {
  content: "\e902";
}
.icon-desglozar:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-flechita:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-mas:before {
  content: "\e908";
}
.icon-menos:before {
  content: "\e909";
}
.icon-siguiente:before {
  content: "\e90a";
}
.icon-subir:before {
  content: "\e90b";
}
.icon-tiktok:before {
  content: "\e90c";
}
.icon-user:before {
  content: "\e90d";
}
.icon-whatsapp:before {
  content: "\e90e";
}
.icon-buscar:before {
  content: "\e92c";
}
